.menu{
    margin: 4rem 2rem;
}

.triple-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(209, 209, 209, 0.486);
}

.menu-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
    object-fit: cover;
}

.menu-item .info {
    padding: 1rem;
}

.menu-item .info h3 {
    margin: 0;
    font-weight: 500;
}