@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400,300&display=swap');

:root {
  --font-main: 'Satoshi', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em; 
  color: #1a1a1a;
}

h1, h2, h3, h4 {
  font-weight: 700;
  letter-spacing: -0.03em;
}